/**
 * Tic-tac-toe game
 * 
 * Creator Thinhnv
 * Create Date 2017/11/13
 */
 body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
 }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;

  }

  .x-color{
    color:#000080
    
  }

  .o-color{
    color:#b22222
    
  }

 .player-name{
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }

  .square-smal {
    font-size: 24px;
    line-height: 34px;
    height: 34px;
    width: 34px;
  }

  .square-nomal{
    font-size: 68px;
    line-height: 68px;
    height: 68px;
    width: 68px;
  }

  .square-big {
    font-size: 124px;
    line-height: 120px;
    height: 120px;
    width: 120px;
  }

  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    padding-left: 100px;
  }
  
* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  *:before, *:after {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }

  .modal-backdrop{
    display: none;

  }

  .dialog-cus{
      
      position: fixed;
      top: 20%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1050;
      display: none;
      overflow: hidden;
      outline: 0;
  }

  .show-dialog{

    display: block !important;
  }

  body {
    
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
    overflow-y:auto !important;
    overflow-x:hidden !important;
  }
  
  .container {
    width:600px;
    left: 50%;
    position:absolute;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .container-smal{
    width:450px;
    left: 50%;
    position:absolute;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .container-nomal{
    width:600px;
    left: 50%;
    position:absolute;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .container-big{
    width:800px;
    left: 50%;
    position:absolute;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .container-lr{
    width:900px;
    left: 50%;
    position:absolute;
     top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .board-footer{
      margin-top: 20px; 
  }

  .board-footer button{
    margin-right: 20px; 
  }
  
   as the SKY*/
  
  *{ margin: 0; padding: 0;}
  
  #clouds{
      padding: 50px 0;
      background: #c9dbe9;
      background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
      background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
      background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  }
  
  .cloud {
      width: 200px; height: 60px;
      background: #fff;
      
      border-radius: 200px;
      -moz-border-radius: 200px;
      -webkit-border-radius: 200px;
      
      position: relative; 
  }
  
  .cloud:before, .cloud:after {
      content: '';
      position: absolute; 
      background: #fff;
      width: 100px; height: 80px;
      position: absolute; top: -15px; left: 10px;
      
      border-radius: 100px;
      -moz-border-radius: 100px;
      -webkit-border-radius: 100px;
      
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
      -moz-transform: rotate(30deg);
  }
  
  .cloud:after {
      width: 120px; height: 120px;
      top: -55px; left: auto; right: 15px;
  }
  
  .x1 {
      -webkit-animation: moveclouds 15s linear infinite;
      -moz-animation: moveclouds 15s linear infinite;
      -o-animation: moveclouds 15s linear infinite;
  }

  .x2 {
      left: 200px;
      
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      transform: scale(0.6);
      opacity: 0.6; 
      
      -webkit-animation: moveclouds 25s linear infinite;
      -moz-animation: moveclouds 25s linear infinite;
      -o-animation: moveclouds 25s linear infinite;
  }
  
  .x3 {
      left: -250px; top: -200px;
      
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.8; 
      
      -webkit-animation: moveclouds 20s linear infinite;
      -moz-animation: moveclouds 20s linear infinite;
      -o-animation: moveclouds 20s linear infinite;
  }
  
  .x4 {
      left: 470px; top: -250px;
      
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.75);
      opacity: 0.75; 
      
      -webkit-animation: moveclouds 18s linear infinite;
      -moz-animation: moveclouds 18s linear infinite;
      -o-animation: moveclouds 18s linear infinite;
  }
  
  .x5 {
      left: -150px; top: -150px;
      
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.8; 
      
      -webkit-animation: moveclouds 20s linear infinite;
      -moz-animation: moveclouds 20s linear infinite;
      -o-animation: moveclouds 20s linear infinite;
  }
  
  @-webkit-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }
  @-moz-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }
  @-o-keyframes moveclouds {
      0% {margin-left: 1000px;}
      100% {margin-left: -1000px;}
  }
  .bottom {
      width:100%; margin:0 auto; text-align:center; padding:10px 0; height:100px; position:absolute;
  }
  .bottom h3 {color:white; font-size:30px; font-weight:bold; margin-top:45px; padding-bottom:45px;}
  .blue { color:#09c;}